{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "configPath": "",
    "documentSelectors": [],
    "embeddedLanguageFormatting": "auto",
    "enable": true,
    "enableDebugLogs": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "ignorePath": ".prettierignore",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "prettierPath": "",
    "printWidth": 200,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requireConfig": false,
    "requirePragma": false,
    "resolveGlobalModules": false,
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useEditorConfig": true,
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "withNodeModules": false
}